
    <h1>Create an account</h1>
<div class="form">
  <%= form_for User.new do |f| %>   
  <%=f.label :name %> 
  <div class="box"> 
    <%=f.text_field :name %> 
  </div>
  <%=f.label :email %> 
  <div class="box">  
    <%=f.text_field :email %> 
  </div>  
  <%=f.submit :create %> 
  <% end %>
</div>
<br>
<h1>login</h1>
<div class="form">
  <%= form_for User.login do |f| %>
  <%=f.label :name %>
  <div class="box">
    <%=f.text_field :name %>
  </div>
  <%=f.label :email %> 
  <div class="box">  
    <%=f.text_field :email %> 
  </div> 
  <%=f.submit :login %>
  <% end %>
