   <h1>Create a Teacher account</h1>
<div class="form">
  <%= form_for Teacher.new do |f| %>   
  <%=f.label :First_name %> 

  <div class="box"> 
    <%=f.text_field :fname %> 
  </div>
  <%=f.label :Last_name %>

  <div class="box">
    <%=f.text_field :lname%>
  </div>

  <%=f.label :password %>
  <div class="box">
    <%=f.password_field :password %>
  </div>
  <%=f.label :email %> 

  <div class="box">  
    <%=f.text_field :email %> 
  </div>  
  <%=f.label :cellphone %>

  <div class="box">
    <%=f.text_field :cellphone %>
  </div>
  <%=f.label :address_1 %>

  <div class="box">
    <%=f.text_field :address1 %>
  </div>
  <%=f.label :address_2 %>

  <div class="box">
    <%=f.text_field :address2 %>
  </div>
  <%=f.label :city %>

  <div class="box">
    <%=f.text_field :city %>
  </div>
  <%=f.label :state %>

  <div class="box">
    <%=f.select :state, options_for_select(us_states) %>
  </div>
  <%=f.label :country %>

  <div class="box">
    <%=f.select :country, options_for_select(us_country) %>
  </div>

  <%=f.label :grade %>

  <div class="box">
    <%=f.text_field :grade %>
  </div>

  <%=f.label :subject %>

  <div class="box">
    <%=f.text_field :subject %>
  </div>



  <%=f.submit :create %> 
 <% end %>
</div>

 <h1>create a supervisor account</h1>
 <div class="form">
  <%= form_for Supervisor.new do |f| %>   
  <%=f.label :First_name %> 

  <div class="box"> 
    <%=f.text_field :fname %> 
  </div>
  <%=f.label :Last_name %>

  <div class="box">
    <%=f.text_field :lname%>
  </div>

  <%=f.label :password %>
  <div class="box">
    <%=f.password_field :password %>
  </div>
  
  <%=f.label :email %> 

  <div class="box">  
    <%=f.text_field :email %> 
  </div>  
  <%=f.label :cellphone %>

  <div class="box">
    <%=f.text_field :cellphone %>
  </div>
  <%=f.label :address_1 %>

  <div class="box">
    <%=f.text_field :address1 %>
  </div>
  <%=f.label :address_2 %>

  <div class="box">
    <%=f.text_field :address2 %>
  </div>
  <%=f.label :city %>

  <div class="box">
    <%=f.text_field :city %>
  </div>
  <%=f.label :state %>

  <div class="box">
    <%=f.select :state, options_for_select(us_states) %>
  </div>
  <%=f.label :country %>

  <div class="box">
    <%=f.select :country, options_for_select(us_country) %>
  </div>

  <%=f.label :grades_taught %>

  <div class="box">
    <%=f.text_field :grades_taught %>
  </div>

  <%=f.label :subject_taught %>

  <div class="box">
    <%=f.text_field :subject_taught %>
  </div>

  <%=f.label :years_experience %>

  <div class="box">
    <%=f.text_field :years_experience %>
  </div>


  <%=f.submit :create %> 
 <% end %>
</div>




